{% extends "base.html" %}

{% block titulo_pagina %}
    <h2 class="titulo_pagina">Funcionários</h2>
{% endblock %}  

{% block conteudo %}

    <div style="margin-left: 5px;">
        <a class="btn medium" href="{% url 'funcionarios_editar' acao='incluir' id=0 %}">Incluir</a>
    </div>

    <!-- TABELA HTML COM OS REGISTROS -->
    <table>
        <!-- CABECALHO DA TABELA HTML -->
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>  
                <th>Telefones</th>  
                <th>Idade</th>  
                <th>Nascimento</th>  
                <th>Endereço</th>  
                <th>Departamento</th>  
                
                <!-- BOTOES DE ALTERAR E EXCLUIR -->
                <th>Ações</th>
            </tr>
        </thead>
        <!-- LINHAS DA TABELA HTML CONTENDO OS REGISTROS -->
        <tbody>
            <!-- LOOP PARA PEGAR CADA REGISTRO -->
            {% for reg in registros %}
            <tr>
                <td class="id">{{ reg.0 }}</td>
                <td>{{ reg.1 }}</td>
                <td>{{ reg.2|default_if_none:'' }}</td>
                <td>{{ reg.3|default_if_none:'' }}</td>
                <td>{{ reg.4|default_if_none:''|date:"d/m/Y"  }}</td>
                <td>{{ reg.5|default_if_none:''}}</td>
                <td>{{ reg.7|default_if_none:'' }}</td>
                <td>
                    <a class="btn small" href="{% url 'funcionarios_editar' acao='alterar' id=reg.id %}">Alterar</a>
                    
                    <a class="btn-del small" href="{% url 'funcionarios_editar' acao='excluir' id=reg.id %}">Excluir</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}


