{% extends "base.html" %}

{% block titulo_pagina %}
    <h2>Exercício-3</h2>
{% endblock %}  

{% block conteudo %}
    <!-- TABELA HTML COM OS REGISTROS -->
    <table>
        <!-- CABECALHO DA TABELA HTML -->
        <thead>
            <tr>
                <th>Estado</th>
                <th>Cidade</th>
                <th>Bairro</th>
            </tr>
        </thead>
        <!-- LINHAS DA TABELA HTML CONTENDO OS REGISTROS -->
        <tbody>
            <!-- LOOP PARA PEGAR CADA REGISTRO -->
            {% for reg in registros %}
            <tr>
                <td>{{ reg.0 }}</td>
                <td>{{ reg.1 }}</td>
                <td>{{ reg.2}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}