{% extends "base.html" %}

{% block titulo_pagina %}
    <h2>Exercício-3a</h2>
{% endblock %}  

{% block conteudo %}
    <h3>Listagem de produtos cadastrados no sistema</h3>
    <!-- TABELA HTML COM OS REGISTROS -->
    <table>
        <!-- CABECALHO DA TABELA HTML -->
        <thead>
            <tr>
                <th>ID do Produto</th>
                <th>Nome do Produto</th>
                <th>Valor Unitário</th>
                <th>Categoria</th>
            </tr>
        </thead>
        <!-- LINHAS DA TABELA HTML CONTENDO OS REGISTROS -->
        <tbody>
            <!-- LOOP PARA PEGAR CADA REGISTRO -->
            {% for reg in registros %}
            <tr>
                <td>{{ reg.0 }}</td>
                <td>{{ reg.1 }}</td>
                <td>{{ reg.2}}</td>
                <td>{{ reg.3}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}


