<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>INSTRUÇÕES</title>
    <link rel="stylesheet" href="assets/css/estilo.css">
</head>
<body>
<main>
<h1>Instruções deste Projeto</h1>

<!-- ========================================================= -->
<hr>
<h2>1) Preparação do Ambiente de Desenvolvimento</h2>

<p>
Abra o terminal de comandos (prompt) e execute o comando a seguir para listar os pacotes do Python que estão instalados no seu computador:
<br>
<code class="terminal">pip list</code>
</p>

<p>
Para esta aula precisaremos que os pacotes <code>Django</code> e <code>pyodbc</code> estejam instalados.
<br>
Caso algum deles não esteja instalado, execute os comandos a seguir:
</p>
<pre>
<code class="terminal">
pip install Django
</code>
</pre>
<pre>
<code class="terminal">
pip install pyodbc
</code>
</pre>

<!-- ========================================================= -->
<hr>
<h2>2) Criando o Banco de Dados</h2>

<p>
    A primera coisa que iremos fazer será criar o banco de dados.
    <br>
    Abra o <i>MSSQL Management Studio</i> e crie um banco de dados chamado <code>Aulas_BD</code>.
    <br>
    <strong>OBS</strong>: Caso o banco de dados <code>Aulas_BD</code> já exista no seu computador, <i>exclua-o</i> e <i>crie-o</i> novamente antes de continuar. Isto é importante para não haja coflito com tabelas já existentes.
</p>

<p>
    Em seguida, crie as tabelas conforme o DER a seguir:
</p>
<img src="assets/imagens/2-der.png" width="600">

<p>
    Neste primeiro exercício, iremos disponibilizar os comandos SQL de criação das tabelas.
    <br>
    Nos próximos exercícios, você mesmo terá criar os comandos SQL.
</p>
<pre>
<code class="sql">
CREATE TABLE Departamento(
    id int identity(1,1) not null,
    nome varchar(30) not null,
    nomeDiretor varchar(90),
    ramal int,
    primary key(id)
)

CREATE TABLE Funcionario(
    id int identity(1,1) not null,
    nome varchar(90) not null,
    telefones varchar(20),
    idade int,
    dataNascimento date,
    endereco varchar(200),
    departamento_id int not null,
    primary key(id),
    FOREIGN KEY(departamento_id) REFERENCES Departamento(id)
)
</code>
</pre>

<p>
    Neste primeiro exercício, iremos também disponibilizar os comandos SQL para inclusão dos registros nas tabelas.
<br>
Inclusão de registros na tabela <strong>Departamento</strong>:
</p>
<pre>
<code class="sql">
INSERT INTO Departamento(nome, nomeDiretor, ramal) VALUES ('RH', 'José da Silva', 3001)
INSERT INTO Departamento(nome, nomeDiretor, ramal) VALUES ('Financeiro', 'Maria José', 3022)
INSERT INTO Departamento(nome, nomeDiretor, ramal) VALUES ('Compras', 'João', 3311)
</code>
</pre>

<p>
Inclusão de registros na tabela <strong>Funcionario</strong>:
</p>
<pre>
<code class="sql">
INSERT INTO Funcionario(nome, telefones, idade, dataNascimento, endereco, departamento_id) 
	VALUES ('José da Silva', '3211-1221', 17, '19920325', 'Rua São José, 1221', 1)

INSERT INTO Funcionario(nome, telefones, idade, dataNascimento, endereco, departamento_id) 
	VALUES ('Maria Mariana', null, 16, '19910301', 'Av. Hermes da Fonseca, 121', 1)
    
INSERT INTO Funcionario(nome, telefones, idade, dataNascimento, endereco, departamento_id) 
	VALUES ('Marcos Silva', null, null, null, null, 1)

INSERT INTO Funcionario(nome, telefones, idade, dataNascimento, endereco, departamento_id) 
	VALUES ('Ivan Justo', '3211-8877', 17, '20020825', 'Rua São João, 21', 2)

INSERT INTO Funcionario(nome, telefones, idade, dataNascimento, endereco, departamento_id) 
	VALUES ('Cibele da Silva', null, 16, '19991225', 'Av. Hermes da Fonseca, 121', 2)

INSERT INTO Funcionario(nome, telefones, idade, dataNascimento, endereco, departamento_id) 
	VALUES ('Lúcia Gomes', null, null, null, null, 2)</code>
</pre>

<p>
    <strong>Pronto!</strong> Agora temos as tabelas criadas e os registros inseridos.
</p>


<!-- ========================================================= -->
<hr>
<h2>3) Analisando o Código do Projeto Django</h2>

<h3>Arquivo <code>views.py</code></h3>
<p>
Primeiro definimos um método chamado <code>obter_conexao()</code> que será utilizado para obter a conexão com o banco de dados.
<br>
Dessa forma, separamos o código de conexão porque iremos reutilizá-lo em vários outros métodos que iremos criar posteriormente neste arquivo.
</p>
<img src="assets/imagens/3-views-1.png" width="900">


<p>
Em seguida, definimos um método chamado <code>home()</code> que será responsável por exibir a página inicial da nossa aplicação.
<br>
Esta página não contém dados vindos do BD, sendo que apenas exibirá uma mensagem de boas vindas.

</p>
<img src="assets/imagens/3-views-2.png" width="600">

<p>
Por fim, definimos o método <code>exercicio_1()</code> que será responsável por exibir a página contendo os dados retornados conforme o comando SQL <i>SELECT</i> que foi definido para o Exercício-1.
<br>
O <i>SELECT</i> pedido no exercício foi:
<!-- <ul><li> -->
    <span class="instrucao">
        Fazer um <i>SELECT</i> para retornar: nome do departamento, nome do funcionário e telefones do funcionário, ordenados pelo nome do departamento e pelo nome do funcionário
    </span> 
<!-- </li></ul> -->
</p>
<img src="assets/imagens/3-views-3.png" width="750">


<h3>Arquivo <code>urls.py</code></h3>
<p>
No arquivo <code>proj_bd/urls.py</code> definimos 2 <strong>rotas URL</strong> que redirecionam a URL chamada no navegador para os métodos <code>home()</code> e <code>exercicio_1()</code> de <code>app/views.py</code>.
<br>
A rota que exibe a página <strong>Home</strong> foi definida com o primeiro parâmetro do método <code>path()</code> igual a vazio (<code>''</code>). Assim, esta rota será executada quando acessarmos a URL raiz da nossa aplicação no navegador, ou seja <code>localhost:8000</code>. 
<br>
A rota que exibe a página <strong>Exercício-1</strong> foi definida com o primeiro parâmetro do método <code>path()</code> igual a <code>'exercicio_1/'</code>. Assim, esta rota será executada quando acessarmos a URL  <code>localhost:8000/exercicio_1</code> no navegador. 
<br>
No segundo parâmetro de <code>path()</code> definimos qual método deve ser chamado pela rota. 
Neste caso, as rotas foram configuradas como <code>views.home</code> e <code>views.exercicio_1</code>, as quais irão chamar, respectivamente, os métodos <code>home()</code> e <code>exercicio_1()</code> definidos em <code>views.py</code>.
Para ter acesso a <code>views.home</code> e <code>views.exercicio_1</code> dentro de <code>urls.py</code>, lembre-se de fazer a importação do arquivo <code>views.py</code> através da instrução <code>from app import views</code>.
<br>
No terceiro parâmetro de <code>path()</code> definimos um nome (<code>name</code>) para as rotas, os quais serão usados para referenciá-las em outros lugares do nosso projeto (por exemplo, nos <i>templates</i> HTML).
</p>
<img src="assets/imagens/4-urls-1.png" width="600">


<!-- ========================================================= -->
<hr>
<h2>4) As Páginas HTML da nossa Aplicação</h2>

<p>
No Django, as páginas HTML são definidas usando <i>templates</i>, que são arquivos de texto (geralmente em HTML) que definem a estrutura e a aparência da página. 
<br>
Eles permitem exibir dados dinâmicos gerados no código Python, tornando as páginas interativas e personalizáveis. 
<br>
Os <i>templates</i> devem ser criados dentro de uma pasta chamada <i>templates</i> que deve estar na pasta da nossa aplicação - no nosso caso é a pasta <code>app/templates</code>.
</p>
<img src="assets/imagens/5-templates-1.png" width="250">

<p>
Os <i>templates</i> permitem criar uma estrutura de herança entre as páginas, fazendo com que os códigos HTML e CSS possam ser reutilizados, evitando assim a duplicação de código.
<br>
No nosso projeto definimos um <i>template</i> <strong>Pai</strong> chamado <code>_base.html</code>, o qual será herdado por todas as páginas da nossa aplicação.
<br>
É neste <i>template</i> <strong>Pai</strong> que definimos a estrutura e aparência geral das nossas páginas. 
<br>
Definimos também alguns blocos dentro de <code>_base.html</code> através da instrução <code>{% block ... %}</code>. 
<br>
Os blocos são <i>áreas</i> dentro do <i>template</i> <strong>Pai</strong> que podem ser substituídas por outros conteúdos
pelos <i>templates</i> <strong>Filhos</strong>.
</p>

<img src="assets/imagens/5-templates-2.png" width="700">


<p>
As páginas renderizadas a partir do nosso <i>template</i> <strong>Pai</strong> (<code>_base.html</code>) terá a aparência da página exibida abaixo.
<br>
Perceba que foram definidas as seguintes áreas dentro da página: <i>cabeçalho</i>, <i>menú de navegação</i> e <i>conteúdo</i>.
</p>

<img src="assets/imagens/5-templates-3.png" width="700">

<p>
No nosso projeto, foram criados 2 <i>templates</i> <strong>Filhos</strong> que herdam de <code>_base.html</code>, sendo um para página inicial (<code>home.html</code>) e outro para a página que irá exibir os registros do Exercício-1 (<code>exercicio_1.html</code>).
</p>  

<p>
<h2><i>Template</i> <code>home.html</code>:</h2> 

Aqui informamos primeiramente de qual <i>template</i> iremos herdar através da instrução <code>{% extends .... %}</code>. 
<br>
Depois usamos instruções <code>{% block ... %}</code> para substituir o conteúdo dos blocos <code>titulo_pagina</code> e <code>conteudo</code> do <i>template</i> <strong>Pai</strong> pelas informações da página inicial.
</p>

<img src="assets/imagens/5-templates-5.png" width="1000">

<p>
<h2><i>Template</i> <code>exercicio_1.html</code>: </h2>

Perceba que no bloco <code>conteudo</code> escrevemos o código que cria uma tabela HTML (<code>&lt;table&gt;</code>) e inserimos as informações do cabeçalho desta tabela (<code>&lt;th&gt;</code>).
<br>
Depois inserimos um <i>loop</i> (<code>{% for reg in registros %}</code>) para exibir as informações de cada registro nas linhas da tabela usando as tags <code>&lt;tr&gt;</code> e <code>&lt;td&gt;</code>.
<br>
As instruções <code>{{reg.0}}</code>, <code>{{reg.1}}</code> e <code>{{reg.2}}</code> irão retornar os valores dos campos na ordem em que eles foram definidos no comando <i>SELECT</i>, onde <code>0</code>, <code>1</code> e <code>2</code>  se referem aos índices do <i>array</i> de campos retornados pelo <i>SELECT</i>.
Dessa forma, <code>reg.0</code> retornará o valor do campo <i>descrição do departamento</i>, <code>reg.1</code> retornará o valor do campo <i>nome do funcionário</i> e <code>reg.2</code> retornará o valor do campo <i>telefones</i>. Repare que os índices dos campos começam em <code>0</code>. 
<br>
Usamos <code>{{ .. }}</code> para acessar as variáveis de contexto (<i>context</i>) dentro dos <i>templates</i>.
As variáveis de contexto são passadas através do método <code>render()</code> dentro dos métodos de <code>views.py</code>. Neste caso, o contexto foi definido como <code>render(request, template, <i>context</i>={<i>'registros'</i>: registros})</code> e, por isso, podemos acessar a variável <i>registros</i> dentro do <i>template</i> <code>exercicio_1.html</code>. Todas as variáveis definidas em <i>context</i> ficarão acessíveis dentro dos <i>templates</i>.
</p>.

<img src="assets/imagens/5-templates-6.png" width="1400">


<p>
Perceba que na coluna <strong>Telefones</strong> aparecem alguns valores com o texto <i>None</i>.
<br>
Isto acontece porque este campo não é obrigatório e permite valores vazios (<i>NULL</i>).
<br>
Podemos resolver este problema alterando a instrução <code>{{ reg.2 }}</code> para <code>{{ reg.2|default_if_none:''  }}</code>. 
<br>
A instrução <code>|default_if_none:''</code> fará com que os valores vazios sejam substituídos por uma string vazia (<code>''</code>), evitando que o texto <i>None</i> apareça nas linhas da tabela.
</p>

<img src="assets/imagens/5-templates-9.png" width="1300">


<p>
Aqueles nomes das <strong>rotas URL</strong> que havíamos definido no terceiro parâmetro de <code>path()</code> em <code>urls.py</code> foram utilizados em <code>_base.html</code> para definir os links do <i>menú de navegação</i> através da instrução <code>{% url ... %}</code>.     
</p>
<img src="assets/imagens/6-static-6.png" width="1300">



<!-- ========================================================= -->
<hr>
<h2>5) Arquivos Estáticos </h2>
<p>
Podemos perceber que a nossa aplicação foi estilizada através do uso de <i>CSS</i>.
<br>
No Django podemos definir arquivos de <i>CSS</i>, <i>Javascript</i> e <i>imagens</i> dentro de uma pasta chamada <code>static</code> dentro da pasta da nossa aplicação (<code>app</code>).
<br>

</p>

<img src="assets/imagens/6-static-1.png" width="300">

<p>
Na pasta <code>static</code> do nosso projeto foram criados os arquivos <code>site.css</code> e <code>barra-lateral.png</code>, os quais foram carregados no nosso <i>template</i> <strong>Pai</strong> (<code>_base.html</code>).
<br>
Para podermos carregar estes os arquivos da pasta <code>static</code>, precisamos definir a instrução <code>{% load static %}</code> na primeira linha dos nossos <i>templates</i> <strong>Pais</strong> e/ou <strong>Filhos</strong>. 
<br>
A inclusão do arquivo <i>CSS</i> em <code>_base.html</code> foi feita através da instrução <code>href="{% static 'css/site.css' %}"</code>, onde <code>static</code> será substituído automaticamente pelo Django com o caminho correto da pasta que contém os arquivos estáticos.
</p>
<img src="assets/imagens/6-static-2.png" width="800">

<p>
A imagem <code>barra-lateral.png</code> foi utilizada dentro de <code>site.css</code>, sendo definida como <i>background-image</i> de <i>&lt;body&gt;</i>. 
<br>
Assim, esta imagem foi carregada para ficar como fundo do <i>menu de navegação</i> lateral.
</p>
<img src="assets/imagens/6-static-4.png" width="1200">



<!-- ========================================================= -->
<hr>
<h2>6) Demais Exercícios </h2>
<p>
Agora chegou a hora de você fazer os exercícios restantes.
<br>
Para cada exercício, você deverá:
<ol>
    <li>Criar os códigos <i>SQL</i> para criar as tabelas e inserir os registros usando o <i>MSSQL Management Studio</i>;</li>
        <ul>
            <li>Crie as tabelas dentro  do banco de dados <code>Aula_BD</code>;</li>
        </ul>
    <li>Criar o método referente ao exercício em <code>views.py</code>; </li>
       <ul>
            <li>Criar os métodos <code>exercicio_2()</code>, <code>exercicio_3()</code> etc;</li>
            <li>Em cada método, insira o código para executar o comando <i>SELECT</i> conforme definido em cada exercício;</li>
        </ul>
    <li>Criar o <i>template</i> do exercício, o qual deve exibir os registros retornados pelo comando <i>SELECT</i>;</li>
       <ul>
            <li>Nomeie os <i>templates</i> da seguinte forma: <code>exercicio_2.html</code>, <code>exercicio_3.html</code> etc;</li>
            <!-- <li>Caso o exercício tenha mais de 1 comando <i>SELECT</i> para ser feito, você deverá exibir todos os resultados em tabelas diferentes (<code>&lt;table&gt;</code>) dentro da mesma página;</li> -->
        </ul>
    <li>Criar as <i>rotas URL</i> dentro de <code>urls.py</code>; </li>
    <li>Atualizar o <i>menú de navegação</i> em <code>_base.html</code> de modo a incluir o link (<i>&lt;a&gt;</i>) para exibir a página do exercício;</li>
    <li>Testar a aplicação para verificar se está OK.</li>
</ol>  
<br>

</p>

<!-- ============================================================== -->
<hr>
<p>
<h2>Exercício-2:</h2>
</p>
<img src="assets/imagens/7-exerc2-1.png" width="600" >

<p>
<div class="instrucao">
    <ul>
        <li>Inserir 3 turmas com 10 alunos cada;</li>
        <li>Fazer um SELECT para retornar: nome da turma, nome do aluno e idade do aluno, ordenados pelo nome da turma e pelo nome do aluno.</li>
    </ul>
</div   > 
</p>

<!-- ============================================================== -->
<hr>
<p>
<h2>Exercício-3:</h2>
</p>
<img src="assets/imagens/7-exerc3-1.png" width="700" >

<p>
<div class="instrucao">
    <ul>
        <li>Inserir:
            <ul>
                <li>2 estados;</li>
                <li>3 cidades para cada estado;</li>
                <li>5 bairros para cada cidade;</li>
            </ul>
        </li>
        <li>Fazer um SELECT para retornar: nome do <i>estado</i>, nome da <i>cidade</i> e nome do <i>bairro</i>, ordenados pelo nome do estado, da cidade e do bairro.</li>
    </ul>
</div> 
</p>


<!-- ============================================================== -->
<hr>
<p>
<h2>Exercício-4:</h2>
</p>
<img src="assets/imagens/7-exerc4-1.png" width="1100" >

<p>
<div class="instrucao">
    <ul>
        <li>Inserir:
            <ul>
                <li>4 categorias, sendo elas: <strong>Hatch</strong>, <strong>Sedã</strong>, <strong>Picape</strong> e <strong>Utilitário</strong>;</li>
                <li>3 fabricantes;</li>
                <li>3 modelos para cada fabricante;</li>
                <li>3 carros para cada modelo;</li>
            </ul>
        </li>
        <li>Fazer um SELECT para retornar os dados da tabela <i>Carro</i>, juntamente com as descrições sobre <i>Categoria</i>, <i>Modelo</i> e <i>Fabricante</i>.
            <ul>
                <li>Ordenar o resultado por: descrição do fabricante, descrição do modelo e ano de fabricação do carro;</li>
                <li>A tabela da página HTML deverá exibir os campos abaixo, nesta ordem:

                    <table>
                        <tr>
                            <td>Fabricante</td>
                            <td>Modelo</td>
                            <td>Ano de Fabricação</td>
                            <td>Cor</td>
                            <td>Placa</td>
                            <td>Preço</td>
                            <td>Categoria</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </li>
            </ul>
        </li> 
    </ul>

</div> 
</p>